.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 233, 241);
    height: 202px;
    width: 400px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding-top: 10px;
    margin-top: 50px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #A4A4A4;
}

.inputForm {
    height: 150px;
    width: 350px;
    max-width: 350px;
    max-height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #A4A4A4;
}

.buttonSend {
    height: 30px;
    width: 130px;
    margin-top: 5px;
}