.header {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #2e2e2e;
}

.messageBox {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #A4A4A4;
    overflow-y: scroll;
}

.message {
    margin-top: 10px;
    width: 290px;
    font-weight: 400;
    font-size: 18px;
    color: #07006e;
    padding: 5px;
    background-color: rgb(223, 255, 244);
    border-radius: 10px;
}

.robotMessage {
    margin-top: 10px;
    width: 290px;
    font-weight: 400;
    font-size: 18px;
    color: #a30000;
    align-self: flex-end;
    padding: 5px;
    background-color: rgb(223, 255, 244);
    border-radius: 10px;
}

.userStyle {
    color: #464646;
    font-size: 16px;
    font-style: italic;
}